* {
        /* font-family: 'Roboto', sans-serif !important; */
        /* background-color: black; */
}

/* Brand Color: */
.brand-color {
        color: purple;
}

#calculate-btn, #save-btn {
        background-color: purple;
}

.calculation-part {
        background-color: rgb(247, 216, 247);
}